<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestion du Stock</title>
</head>
<body>
<h1>État du Stock</h1>

<table border="1">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Quantité en stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="l : ${lignes}">
        <td th:text="${l.libelle}">Nom</td>
        <td th:text="${l.quantite}">0</td>
    </tr>
    </tbody>
</table>

<hr/>

<form th:action="@{/stock/reappro}" method="post">
    <button type="submit">Réapprovisionner (+5 tables, +2 chaises)</button>
</form>

</body>
</html>